#main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
    margin-top: 70px;
}

#add-memo {
    position: absolute;
    top: 20px;
    left: 20px;
}

#add-memo button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-memo button:hover {
    background-color: #0056b3;
}

#note-location{
    outline: #0056b3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}