#main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    background-color: #32292f;
    min-height: 100vh;
    margin-top: 70px;
}

#add-memo {
    position: absolute;
    top: 20px;
    left: 20px;
}

#add-memo button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #347fc4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-memo button:hover {
    background-color: #4C9BE5;
}

#note-location {
    outline: #0056b3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, max-content));
    gap: 24px;
    width: 100%;
    max-width: 2200px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-items: start;
}